<div class="container">
    <div class="container-1">
        <swiper-container class="container__content1" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide class="container__content1--slide slide1">
                <div class="content">
                    <div class="description">
                        <h1>Tu Prestamo Personal viene con la mejor tasa online!</h1>
                        <div class="button">
                            <a href="#">Pidelo aqui</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="../../../assets/img/4235572.png" alt="">
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide class="container__content1--slide slide2">
                <div class="content">
                    <div class="description">
                        <h1>Tu Prestamo Personal viene con la mejor tasa online!</h1>
                        <div class="button">
                            <a href="#">Pidelo aqui</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="../../../assets/img/3937426.jpg" alt="">
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide class="container__content1--slide slide3">
                <div class="content">
                    <div class="description">
                        <h1>Tu Prestamo Personal viene con la mejor tasa online!</h1>
                        <div class="button">
                            <a href="#">Pidelo aqui</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="../../../assets/img/4235572.png" alt="">
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>

    <div class="container-2">
        <div class="container__content2">
            <div class="container__content2--title">
                <h1>Hola, ¿Qué necesitas hacer hoy?</h1>
            </div>
            <div class="container__content2--row">
                <div class="column-services">
                    <div class="service">
                        <span>Abrir cuenta</span>
                    </div>
                    <div class="service">
                        <span>Abrir cuenta</span>
                    </div>
                    <div class="service">
                        <span>Abrir cuenta</span>
                    </div>
                    <div class="service">
                        <span>Abrir cuenta</span>
                    </div>
                    <div class="service">
                        <span>Abrir cuenta</span>
                    </div>
                    <div class="service">
                        <span>Abrir cuenta</span>
                    </div>
                </div>
                <div class="column-help">
                    <div class="title">
                        <h4>🚨 Ayuda rapida</h4>
                    </div>
                    <div class="list-questions">
                        <div class="question">
                            <a href="#">Cómo creo mi clave de 6 digitos?</a>
                        </div>
                        <div class="question">
                            <a href="#">Cómo creo mi clave de 6 digitos?</a>
                        </div>
                        <div class="question">
                            <a href="#">Cómo creo mi clave de 6 digitos?</a>
                        </div>
                        <div class="question">
                            <a href="#">Cómo creo mi clave de 6 digitos?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-3">
        <div class="container__content3">
            <div class="container__content3--title">
                <span>PROMOCIONES Y BENEFICIOS</span>
                <h1>Explora las mejores promociones con BCP</h1>
            </div>
            <div class="container__content3--promo-secundary">
                <div class="promo-secundary__promotions">
                    <div class="promo-secundary__promotions--promotion promotion-1">
                        <img src="../../../assets/img/152440-OUOW8Y-642.jpg" alt="">
                    </div>
                    <div class="promo-secundary__promotions--promotion promotion-2"> <img
                            src="../../../assets/img/152440-OUOW8Y-642.jpg" alt="">
                    </div>
                    <div class="promo-secundary__promotions--promotion promotion-3"> <img
                            src="../../../assets/img/152440-OUOW8Y-642.jpg" alt="">
                    </div>
                    <div class="promo-secundary__promotions--promotion promotion-4"> <img
                            src="../../../assets/img/152440-OUOW8Y-642.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container__content3--promo-primary">
                <img src="../../../assets/img/152440-OUOW8Y-642.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container-4">
        <div class="container__content4">
            <div class="container__content4--row">
                <div class="column-1">
                    <div class="column-1__title">
                        <h1>Mi Espacio BCP</h1>
                        <p>Ingresa tu DNI y descubre tu producto especial</p>
                    </div>
                    <div class="column-1__input">
                        <input type="text" placeholder="Nro. de Documento">
                        <div class="column-1__input--button">
                            <a href="#">Descubrir</a>
                        </div>
                    </div>
                    <div class="column-1__description">
                        <p>(*)Al enviarnos esta información usted autoriza al BCP el tratamiento de sus datos
                            personales. Conoce más aquí.

                            Este sitio está protegido por reCAPTCHA y se aplican las Políticas de privacidad y Términos
                            del servicio de Google.</p>
                    </div>
                </div>
                <div class="column-2">
                    <div class="column-2__img">
                        <img src="../../../assets/img/3905298.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-5">
        <div class="container-5__content">
            <div class="container-5__content--title">
                <span>EDUCACION</span>
                <h1>¡Únete al 1MM de capacitados por los cursos!</h1>
                <div class="button">
                    <a href="#">Ir al Campus ABC</a>
                </div>
            </div>
            <!-- <div class="container-5__content--courses">
                <div class="course course-1">
                    <p>Hola</p>
                </div>
                <div class="course course-2">
                    <p>Hola</p>
                </div>
                <div class="course course-3">
                    <p>Hola</p>
                </div>
            </div> -->
            <swiper-container class="container-5__content--courses">
                <swiper-slide class="course course-1">
                    <p>Hola</p>
                </swiper-slide>
                <swiper-slide class="course course-2">
                    <p>Hola</p>
                </swiper-slide>
                <swiper-slide class="course course-3">
                    <p>Hola</p>
                </swiper-slide>
                <swiper-slide class="course course-4">
                    <p>Hola</p>
                </swiper-slide>
                <swiper-slide class="course course-5">
                    <p>Hola</p>
                </swiper-slide>
                <swiper-slide class="course course-6">
                    <p>Hola</p>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</div>